
.jumbotron.jumbotron-fluid#home-page
  .container
    %h1.display-4
      %strong#home-page-title
        TwitterApp
    %p.lead
      %strong#center-text
        = link_to "Log in", "/auth/twitter", class: 'btn btn-primary', id: 'home-login-btn'



.homepage-hero-module
  .video-container
    .filter
    = video_tag("Flying-Birds.mp4", autoplay: true, loop: true, poster: "Flying-Birds.jpg", class: "fillWidth")


